#toolkit-page {
    .ghost {
        height: 900px;
    }
    .horizontal-scroll {
        width: 800px;

        .text {
            font-size: 60px;
        }
    }
    @media screen and (min-width: 400px) {
        .ghost {
            height: 1100px;
        }
        .horizontal-scroll {
            width: 1000px;

            .text {
                font-size: 80px;
            }
        }
    }
    @media screen and (min-width: 600px) {
        .ghost {
            height: 1800px;
        }
        .horizontal-scroll {
            width: 1600px;

            .text {
                font-size: 120px;
            }
        }
    }
    @media screen and (min-width: 1000px) {
        .ghost {
            height: 2300px;
        }
        .horizontal-scroll {
            width: 2000px;

            .text {
                font-size: 160px;
            }
        }
    }
    @media screen and (min-width: 1400px) {
        .ghost {
            height: 3200px;
        }
        .horizontal-scroll {
            width: 2800px;

            .text {
                font-size: 230px;
            }
        }
    }
    @media screen and (min-width: 1800px) {
        .ghost {
            height: 3700px;
        }
        .horizontal-scroll {
            width: 3600px;

            .text {
                font-size: 260px;
            }
        }
    }
    @media screen and (min-width: 2300px) {
        .ghost {
            height: 4100px;
        }
        .horizontal-scroll {
            width: 4000px;

            .text {
                font-size: 310px;
            }
        }
    }
    @media screen and (min-width: 2900px) {
        .ghost {
            height: 4600px;
        }
        .horizontal-scroll {
            width: 4600px;

            .text {
                font-size: 350px;
            }
        }
    }
    @media screen and (min-width: 3500px) {
        .ghost {
            height: 5000px;
        }
        .horizontal-scroll {
            width: 5000px;

            .text {
                font-size: 390px;
            }
        }
    }
}